extends layout

block content

    .container
        .break.row.mt-4.mb-4
            .break-container.col-12
                .list-group
                    .row    
                        .list-group-item.col-6.col-md-2
                            h5 1 урок
                            p 08:30 - 09:20
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
                        .list-group-item.col-6.col-md-2
                            h5 2 урок
                            p 09:35 - 10:25
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
                        .list-group-item.col-6.col-md-2
                            h5 3 урок
                            p 10:40 - 11:30
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
                        .list-group-item.col-6.col-md-2
                            h5 4 урок
                            p 11:45 - 12:35
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
                        .list-group-item.col-6.col-md-2
                            h5 5 урок
                            p 12:50 - 13:40
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 20 мин
                        .list-group-item.col-6.col-md-2
                            h5 6 урок
                            p 14:00 - 14:50
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
                        .list-group-item.col-6.col-md-2
                            h5 7 урок
                            p 15:05 - 15:55
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
                        .list-group-item.col-6.col-md-2
                            h5 8 урок
                            p 16:10 - 17:00
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
                        .list-group-item.col-6.col-md-2
                            h5 9 урок
                            p 17:15 - 18:05
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
                        .list-group-item.col-6.col-md-2
                            h5 10 урок
                            p 18:20 - 19:10
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
                        .list-group-item.col-6.col-md-2
                            h5 11 урок
                            p 19:25 - 20:15
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
                        .list-group-item.col-6.col-md-2
                            h5 12 урок
                            p 20:30 - 21:20
                        .list-group-item.col-6.col-md-1.align-items-center.justify-content-center
                            p 15 мин
