extends layout

block content

    .container.mt-4.mb-4
        if faculties.length > 0
            form(action=`/specialties/create`, method="POST")
                .form-row
                    .form-group.col-md-6.offset-md-3
                        label(for="inputState") Факультет
                        select(name="faculty", id="faculty", required="true").form-control
                          for faculty in faculties
                            option(value=`${faculty.id}`)= faculty.name
                    .form-group.col-md-6.offset-md-3
                        label(for="inputState") Название
                        input(name="name")#inputState.form-control

                    button(type="submit", style="background-color: #7d71b1").btn.btn-primary.col-md-6.offset-md-3 Создать Специальность  
        else
            h5 Вы должны сначала добавить как минимум один факультет