extends layout

block content

  .container.mt-4.mb-4
    form(action=`/groups/create`, method="POST")
      .form-row
        .form-group.col-md-6.offset-md-3
          label(for="inputState") Факультет
          select(name="faculty", id="faculty", required="true").form-control
            for faculty in faculties
              option(value=`${faculty.id}`)= faculty.name
        .form-group.col-md-6.offset-md-3
          label(for="inputState") Специальность
          select(name="specialty", id="specialty", required="true").form-control
            
        .form-group.col-md-6.offset-md-3
          label(for="inputState") Название
          input(name="name").form-control

          
        button(type="submit").btn.btn-primary.col-md-6.offset-md-3 Создать Группу
  
  script(src="../js/script.js")