extends layout

block content
  .container.mt-4.mb-4
    if groups.length > 0
      form(action=`lessons/show`, method="GET").text-center
        .form-row
          .form-group.col-md-6.offset-md-3
            label(for="facultyName").col-12 Выберите Факультет
              select(required="true")#facultyName.form-control
                for faculty in faculties
                  option(value=`${faculty.id}`)= faculty.name
          .form-group.col-md-6.offset-md-3
            label(for="specialtyName").col-12 Выберите Специальность
              select(required="true")#specialtyName.form-control
                
          .form-group.col-md-6.offset-md-3
            label(for="groupName").col-12 Выберите Группу
              select(name="groupName", required="true")#groupName.form-control
                
        button(type="submit", style="background-color: #7d71b1").btn.btn-primary.btn-block.col-md-6.offset-md-3 Показать расписание

        a(href="https://www.instagram.com/adauren08/").mt-5 Made by Dauren
    else
      h5 Список групп пуст
          
  script(src="../js/index.js")