extends layout

block content
  .container.mt-4.mb-4
    if groups.length > 0
      form(action=`lessons/show`, method="GET")
        .form-row
          .form-group.col-md-6.offset-md-3
            label(for="inputState").col-12 Выберите Факультет
              select(name="name", required="true")#inputState.form-control
                for faculty in faculties
                  option(value=`${faculty.name}`)= faculty.name
          .form-group.col-md-6.offset-md-3
            label(for="inputState").col-12 Выберите Специальность
              select(name="name", required="true")#inputState.form-control
                for specialty in specialties
                  option(value=`${specialty.name}`)= specialty.name
          .form-group.col-md-6.offset-md-3
            label(for="inputState").col-12 Выберите Группу
              select(name="name", required="true")#inputState.form-control
                for group in groups
                  option(value=`${group.name}`)= group.name
        button(type="submit").btn.btn-primary.btn-block.col-md-6.offset-md-3 Показать расписание
    else
      h5 Список групп пуст
          
        