extends layout

block content
  .container.mt-4.mb-4
    form(action=`lessons/show`, method="GET")
      .form-row
        .form-group.col-md-6.offset-md-3
          label(for="inputState") Выберите Группу
          select(name="name")#inputState.form-control
            for group in groups
              option(value=`${group.name}`)= group.name
          
        button(type="submit").btn.btn-primary.col-md-6.offset-md-3 Показать расписание